# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Environnement virtuel
venv/
env/
ENV/
.venv

# Variables d'environnement
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Base de données
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc

# Logs
*.log

# Docker
.dockerignore

# Tests
.pytest_cache/
.coverage
htmlcov/

# Autres
.mypy_cache/
.ruff_cache/
